$fz1 : 3rem;
$fz2 : 2.5rem;
$fz3 : 2rem;
$fz4 : 1.6rem;
$fz5 : 1.2rem;

$color-primary : #ff7c7c;
$color-secondary : #88e1f2;

$color-dark : #21243d;
$color-light : #f0f0f0;
$color-grey : #d8d8d8;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
    padding: 2.5rem 5rem;
}
.tombol{
    margin-top: 2rem;
}
.btn{
    margin-top: .7rem;
    padding: 2rem 4rem;
    color: $color-light;
    font-size: $fz2;
    background-color: #858aeb;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    transition: .1s;
    outline: none;
    &:active{
        background-color: #858aeb;
        transform: translateY(1px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.302);
    }
    @media(max-width: 760px){
        padding: 1rem 2rem;
        font-size: $fz3;
    }
}
.heading{
    background-color: $color-dark;
    color: white;
    text-align : center;
    h1{
        font-size: $fz1;
    }
    @media(max-width:760px){
        background-color: #000000;
    }
}
.content{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: $color-primary;
    // min-height: 100vh;
    color: white;
    font-size: $fz1;
    input{
        font-size: $fz1;
    }
    @media(max-width:760px){
        background: $color-dark;
        padding: 0;
    }
}
.inputan{
    display: flex;
    justify-content: space-around;
    label{
        font-size: $fz2;
        text-decoration: underline;
    }
    input{
        margin-top: 2rem;
        width: 10rem;
        text-align: center;
    }
    .input{
        text-align: center;
        background-color: $color-dark;
        padding: 3rem 5rem;
        @media(max-width: 760px){
            background-color: #11121d;
            padding: 3rem 2rem;
        }
    }
    margin-bottom: 3rem;
}
.hasil{
    text-align: center;
    background-color: $color-dark;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 4rem;
    @media(max-width:760px){
        background-color: #11121d;
        padding: 1rem 0 2rem 0;
    }
}
.footer{
    background-color: $color-dark;
    color: $color-grey;
    font-size: $fz5;
    a{
        text-decoration: none;
        color: #5785e7;
        &:hover{
            text-decoration: underline;
        }
    }
    @media(max-width:760px){
        background-color: #000000;
    }
}

.swal2-popup{
    font-size: $fz4 !important;
}